.grid {
	padding-top: 30px;
	padding-left: 50px;
}

.row {
	display: flex;
}

.Wrapper{
  max-width:90%;
  margin:auto;
  padding-top: 30px;

}
.rowWrapper{
  display: flex;
}

.Dropdown{
  margin-left: 70px;
  margin-right: 30px;
}

.buttonStyle{
  padding-left: 50px;
  padding-right: 50px;
}